<ul id="slide-out" class="side-nav fixed">
    <li><div class="userView">
      <img class="background" src="/images/office.jpg">
      <a href="#!user"><img class="circle" src="/images/teacher.jpg"></a>
      <a href="#!name"><span class="white-text name">John Teacher</span></a>
      <a href="#!email"><span class="white-text email">teacher@gmail.com</span></a>
    </div></li>
    <li><a href="/teacher">Dashboard</a></li>
    <li><a href="#!">Feed</a></li>
    <li><a href="#!">Assistant</a></li>
    <li><a href="#!">Add content</a></li>
    <li><a href="#!">Inbox</a></li>
</ul>
<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->