<!DOCTYPE html>
<head>
  <% include partials/head %>
</head>

<% include partials/student-sidenav %>
<header>
<%- include('partials/student-nav', {page: page}) %>
</header>

<body>
<main>
	<div class="row">
	        <div class="col s12 m6">
	          <div class="card">
	            <div class="card-content">
	              <span class="card-title">Performance by Week</span>
	             	<img class="dashboard_performance_image" src="images/performancebyweek.png">
	            </div>
	          </div>
	        </div>
	        <div class="col s12 m6">
	          <div class="card">
	            <div class="card-content">
	              <span class="card-title">Your performance compared to average</span>
	              <img class="dashboard_performance_image" src="images/youandaverage.png">
	          </div>
	        </div>
      	</div>
      	</div>
      	<div class="row">
	        <div class="col s12 m6">
	          <div class="card">
	            <div class="card-content">
	              <span class="card-title">COURSE MATERIAL BY WEEK</span>
	              
	          </div>
	        </div>
	        </div>
	        <div class="col s12 m6">
	          <div class="card">
	            <div class="card-content">
	              <span class="card-title">Contact</span>

	          </div>
	        </div>
      	</div>
</main>
</body>