<!DOCTYPE html>
<head>
  <% include partials/head %>
</head>

<% include partials/teacher-sidenav %>
<header>
<%- include('partials/teacher-nav', {page: page}) %>
</header>

<body>
	<main>
		<div class="row">
	        <div class="col s12 m6">
	          <div class="card">
	            <div class="card-content">
	              <span class="card-title">FEED</span>
	              <ul class="collection">
	              	<li class="collection-item avatar">
	              		<img src="/images/johndoe.jpg" alt="" class="circle">
	              		<span class="title">John Doe just completed Quiz 7</span>
	              		<p>View result</p>
	              		<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	              	</li>
	              	<li class="collection-item avatar">
	              		<img src="/images/student.jpg" alt="" class="circle">
	              		<span class="title">Michael Wong just completed Quiz 5</span>
	              		<p>View result</p>
	              		<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	              	</li>
	              	<li class="collection-item avatar">
	              		<img src="/images/studentfemale.jpeg" alt="" class="circle">
	              		<span class="title">Michelle Wong started Class Recap Week 4</span>
	              		<!-- <p></p> -->
	              		<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	              	</li>
	              </ul>
	            <div class="card-action">
	              <a href="#">View more</a>
	            </div>
	        </div>
	      </div>
	  </div>
	  <div class="col s12 m6">
	  	<div class="card">
	  		<div class="card-content">
	  			<span class="card-title">ASSISTANT</span>
	  			<ul class="collection with-header">
			        <li class="collection-header"><h6>Current Week: 4</h6></li>
			        <li class="collection-item">So far, 54% of the students in your class have completed all mandatory activities for this week.</li>
			        <li class="collection-item">The average score in this week's Quiz is 84%.</li>
			        <li class="collection-item">Most students failed the exercise about linear regression.</li>
			        <li class="collection-item">Remember to upload the Quiz for week 5.</li>
			        <li class="collection-item">You should contact student Michael Wong. He didn't complete the assignments for two weeks in a row.</li>
			      </ul>
	  			<div class="card-action">
	  				<a href="#">Go to detailed assistant</a>
	  			</div>
	  		</div>
	  	</div>
	  </div>
      	<div class="row">
	        <div class="col s12 m6">
	          <div class="card">
	            <div class="card-content">
	              <span class="card-title">Add Content</span>
	              <div class="collection">
			        <a href="#!" class="collection-item">Create new Quiz</a>
			        <a href="#!" class="collection-item">Upload Readings</a>
			        <a href="#!" class="collection-item">Upload Slides</a>
			        <a href="#!" class="collection-item">Create Assignment</a>
			      </div>
	          </div>
	        </div>
	        </div>
	        <div class="col s12 m6">
	          <div class="card red lighten-2">
	            <div class="card-content white-text">
	              <span class="card-title">INBOX</span>
				    <ul class="collection with-header">
			        	<li class="collection-header black-text"><h6>Messages</h6></li>
				        <li><a href="#!" class="collection-item">John Doe (11:33): Hi Teacher, I'm struggling to get a hang of ...</a></li>
				        <li><a href="#!" class="collection-item">Michael Wong (11:33): Dear Mr Teacher, I was wondering ...</a></li>
				        <li><a href="#!" class="collection-item">Michelle Wong (11:33): Hi Teacher, during this weeks' lecture you...</a></li>
				        <div class="divider"></div>
				        <li><a href="#!" class="collection-item">Show all</a></li>
				    </ul>
	          </div>
	        </div>
      	</div>
	</main>
</body>