body {
	.intro {
		text-align: center;
		max-width: 500px;
		margin: 200px auto 0 auto;
	}
	.selection {
		display: block;
		max-width: 200px;
		margin: 20px auto;
	}


    header, footer, main {
      padding-left: 300px;
    }

    header {
    	.brand-logo {
    		margin-left: 12px;
    	}
    }

    .dashboard_performance_image {
    	max-width: 95%;
    }

    .deadline {
    	position: absolute;
    	right: 10px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

}
        